// smooth scrolling
html {
	scroll-behavior: smooth;
	min-height: 100vh;
}

body {
	background: url('../bg.svg') 26rem/26rem;
	color: theme('colors.dark');
	position: relative;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;

	[x-cloak] {
		visibility: hidden;
	}

	[x-cloak="hidden"] {
		display: none;
	}
}

// Focus styles - :focus-visible if supported, .focus-visible if not
:focus {
	outline: 2px dashed var(--focus-colour, theme('colors.green.600'));
	outline-offset: 0.25rem;

	&:not(:focus-visible) {
		outline: none;
	}
}

.outline-inner {
	outline-offset: -0.25rem;
}

a {
	color: unset;
	text-decoration-color: theme('colors.green.600');
	text-underline-offset: .2em;
	text-decoration-thickness: .15em;
}

::selection {
	background-color: theme('colors.green.900');
	color: theme('colors.white');
}

code {
	font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
}

table {
	--border: #d8dee4;
	border-spacing: 0;
	border-collapse: collapse;
	margin: 1.5rem 0;
	display: block;
	width: 100%;
	width: max-content;
	max-width: 100%;
	overflow: auto;

	tr {
		background-color: #ffffff;
    border-top: 1px solid var(--border);

		&:nth-child(2n) {
			background-color: #f6f8fa;
		}
	}

	th {
		font-weight: 600;
	}

	th, td {
		padding: .4rem .8rem;
    border: 1px solid var(--border);
	}
}

// Scrollbar styles
html {
	--scrollbar-bg: #fafafa;
	--scrollbar-thumb: theme('colors.green.900');
}
// firefox and future standard
* {
	scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg);
	scrollbar-width: thin;
}
// webkit
::-webkit-scrollbar {
	width: 0.75rem;
	height: 0.75rem;
}
::-webkit-scrollbar-track {
	background: var(--scrollbar-bg);
}
::-webkit-scrollbar-thumb {
	border: 3px solid var(--scrollbar-bg);
	border-radius: 0.4rem;
	background-color: var(--scrollbar-thumb);
}

// Make sure anything disabled is not selectable or clickable
[disabled] {
	pointer-events: none;
	user-select: none;
}

// add scroll margin to potentially targeted elements
[id] {
	$scroll-margin: 7rem;
	scroll-margin-top: $scroll-margin;
	scroll-snap-margin-top: $scroll-margin;
}
