<footer class="mt-auto pt-[.5rem] pb-[1rem]">
	<nav class="container">
		<ul class="flex flex-wrap justify-center gap-[1rem]" role="list">
			{% for item in navFooter %}
				{% set isCurrent = true if page.url == item.url else false %}
				<li>
					<a
						class="no-underline"
						href="{{ item.url }}{% if isCurrent %}#top{% endif %}"
						{% if isCurrent %}aria-current="page"{% endif %}
					>
						{{ item.title }}
					</a>
				</li>
			{% endfor %}
		</ul>
	</nav>
</footer>
