<header class="sm:sticky z-10 sm:top-0 bg-white drop-shadow-md">
	<nav>
		<ul class="flex flex-wrap justify-center" role="list">
			{% for item in navMain %}
				{% set isCurrent = true if item.url == page.url  else false %}
				{% if item.url != '/' %}
					{% set isCurrent = true if item.url in page.url  else false %}
				{% endif %}
				<li>
					<a
						class="
							group overflow-hidden relative
							block p-[.5rem] no-underline font-medium
						"
						href="{{ item.url }}{% if isCurrent %}#top{% endif %}"
						{% if isCurrent %}aria-current="page"{% endif %}
					>
						{{ item.title }}
						<span class="
							absolute left-0 top-full h-[.25rem] w-full transition
							{% if isCurrent %}
								bg-green-300 -translate-y-full group-hover:bg-green-600
							{% else %}
								bg-green-600 group-hover:-translate-y-full
							{% endif %}
						"></span>
					</a>
				</li>
			{% endfor %}
		</ul>
	</nav>
</header>
