---
layout: false
permalink: /humans.txt
eleventyExcludeFromCollections: true
---
/* TEAM */
	Alistair Shepherd
	Twitter: @accudio
	Mastodon: @accudio@mastodon.scot
	Website: alistairshepherd.uk
	From: Edinburgh, Scotland

/* SITE DETAILS */
	Built with: Eleventy, Vite, Sass, Tailwind, Sailwind, Alpine.js, Async Alpine
	Last build: {{ build.timestamp | dateToISO }}
	Env: {{ build.env }}
