---
title: Examples and Demos — Async Alpine
description: Examples and demos of loading asynchronous components for Alpine.js with Async Alpine, including using npm, a CDN, or with Webpack or Vite
---

{% macro card (data) %}
<li class="flex">
	<a
		class="flex items-center border-solid border-2 border-green-600 rounded-[.5rem] w-full py-[.75rem] px-[1rem] font-medium no-underline hover:bg-green-100 transition"
		href="{{ data.url }}"
	>
		{% if data.emoji %}
			<span class="text-[2rem] mr-[1rem] w-[2rem] leading-none">{{ data.emoji }}</span>
		{% elif data.svg %}
			{% set svgContent %}{% include 'icons/' ~ data.svg ~ '.svg' %}{% endset %}
			{{ svgContent | replace('<svg', '<svg class="mr-[1rem] h-[2rem] w-[2rem]" aria-hidden="true"') | safe }}
		{% endif %}
		{{ data.title }}
	</a>
</li>
{% endmacro %}

<article class="section container">
	<div class="box flow">
		<h1>Examples and Demos</h1>

		<p>We have a set of examples and starters to get you started with Async Alpine and for you to experiment with. If you have feedback <a href="https://github.com/accudio/async-alpine/discussions">let us know</a>.</p>
	</div>
</article>

<article class="section container">
	<div class="box flow">
		<h2 id="setup">Getting started + tooling</h2>
		<ul class="grid sm:grid-cols-2 lg:grid-cols-3 gap-[.5rem] mt-[2rem]" role="list">
			{{ card({
				title: 'Loading via CDN',
				url: 'https://codesandbox.io/s/async-alpine-cdn-dk69yr?file=/index.html',
				emoji: '💨'
			}) }}
			{{ card({
				title: 'Webpack',
				url: 'https://stackblitz.com/edit/async-alpine-webpack?file=webpack.config.js',
				svg: 'webpack'
			}) }}
			{{ card({
				title: 'Vite',
				url: 'https://stackblitz.com/edit/async-alpine-vite',
				svg: 'vite'
			}) }}
			{{ card({
				title: 'Rollup',
				url: 'https://stackblitz.com/edit/async-alpine-rollup?file=rollup.config.js',
				svg: 'rollup'
			}) }}
		</ul>
	</div>
</article>

<article class="section container">
	<div class="box flow">
		<h2>Loading Methods</h2>
		<ul class="grid sm:grid-cols-2 lg:grid-cols-3 gap-[.5rem] mt-[2rem]" role="list">
			{{ card({
				title: 'URL',
				url: 'https://codesandbox.io/s/async-alpine-url-k8nu3z?file=/main.js',
				svg: 'link'
			}) }}
			{{ card({
				title: 'Data',
				url: 'https://codesandbox.io/s/async-alpine-data-ye7cix?file=/main.js',
				svg: 'curly-brackets'
			}) }}
			{{ card({
				title: 'Inline',
				url: 'https://codesandbox.io/s/async-alpine-inline-1smcdz?file=/index.html',
				svg: 'angle-brackets'
			}) }}
			{{ card({
				title: 'Alias',
				url: 'https://codesandbox.io/s/async-alpine-alias-unqg87?file=/main.js',
				svg: 'folder'
			}) }}
		</ul>
	</div>
</article>

<article class="section container">
	<div class="box flow">
		<h2>Strategies</h2>
		<ul class="grid sm:grid-cols-2 lg:grid-cols-3 gap-[.5rem] mt-[2rem]" role="list">
			{{ card({
				title: 'Eager',
				url: 'https://codesandbox.io/s/async-alpine-eager-r7vbsx?file=/index.html',
				emoji: '⚡️'
			}) }}
			{{ card({
				title: 'Idle',
				url: 'https://codesandbox.io/s/async-alpine-idle-p2s08e?file=/index.html',
				emoji: '⏳'
			}) }}
			{{ card({
				title: 'Visible',
				url: 'https://codesandbox.io/s/async-alpine-visible-2snihp?file=/index.html',
				emoji: '👀'
			}) }}
			{{ card({
				title: 'Media',
				url: 'https://codesandbox.io/s/async-alpine-media-l1o80t?file=/index.html',
				emoji: '💡'
			}) }}
			{{ card({
				title: 'Event',
				url: 'https://codesandbox.io/s/async-alpine-event-05j2ym?file=/index.html',
				emoji: '🪄'
			}) }}
			{{ card({
				title: 'Combined',
				url: 'https://codesandbox.io/s/async-alpine-combined-40t2j8?file=/index.html',
				emoji: '∞'
			}) }}
		</ul>
	</div>
</article>
