<article class="section">
	<div class="container text-center">
		<h1 class="mb-[2.5rem]">
			<img class="mx-auto" src="https://via.placeholder.com/600x600" width="300" height="300" alt="Async Alpine">
		</h1>
		<p class="font-bold leading-tight text-[clamp(1.25rem,calc(1rem+2vw),2rem)]">Code splitting and lazy-loading components for Alpine.js!</p>

		<nav class="mt-[1rem] flex flex-wrap justify-center gap-[.5rem]">
			<a class="button" href="/docs/">Documentation</a>
			<a class="button" href="/examples/">Examples</a>
			<a class="button" href="https://github.com/accudio/async-alpine">GitHub</a>
		</nav>
	</div>
</article>

<article class="section">
	<div class="container">
		<h2>What is it?</h2>
		<div class="mt-[2rem] max-w-[70ch] flow">
			<p>Async Alpine is a wrapper around the Alpine.js JavaScript framework that allows you to load components asyncronously on-demand.</p>
			<p>Alpine.js is a fantastic framework but with a large site with lots of components, the bundle size can start to become a performance problem!</p>
			<p>Async Alpine allows you to split your components into multiple component files and only load them when they're needed, speeding up your first load!</p>
		</div>
	</div>
</article>

<article class="section">
	<div class="container flow">
		<h2>Async Alpine in the wild</h2>
		<p>These are a few great examples of websites using Async Alpine!</p>
		<ul class="mt-[2rem] grid md:grid-cols-3 gap-[1rem]" role="list">
			{% for card in showcase %}
				<li>
					<div class="relative flex flex-col gap-[.75rem]">
						<h3 class="pr-[16px]">
							{% if card.url %}
								<a class="box-link no-underline" href="{{ card.url }}" rel="noopener">
									{{ card.title }}
								</a>
							{% else %}{{ card.title }}{% endif %}
						</h3>
						{% if card.image %}
							<div class="order-first">
								{% image
									card.image,
									'',
									'border-2 border-solid border-black rounded-[4px]'
								%}
							</div>
						{% endif %}
					</div>
					{% if card.author %}
						<p class="mt-[.75rem]">
							{% if card.authorUrl %}
								<a href="{{ card.authorUrl }}" rel="noopener">
									{{ card.author }}
								</a>
							{% else %}{{ card.author }}{% endif %}
						</p>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
		<div class="mt-[2rem]">
			<hr class="mx-auto mb-[2rem] max-w-[16rem]">
			<p>Have you built a site with Async Alpine and want to show it off? <a href="https://github.com/accudio/async-alpine/discussions">Let us know</a>!</p>
		</div>
	</div>
</article>
