---
layout: base
---

<article class="section">
	<div class="container max-w-[70rem] md:flex md:gap-[2rem]">
		<nav
			class="shrink-0 md:fl-w-[230px@md,300px] md:pt-[16px] mdd:mb-[48px]"
			aria-label="documentation"
			x-data="{ show: false }"
			@click="show = false"
		>
			<button
				class="md:hidden button w-full transition-all"
				@click.stop="show = !show"
				:aria-expanded="show.toString()"
				:class="{ 'rounded-b-[0px]': show }"
			>
				Sections
			</button>
			<ul
				role="list"
				class="md:sticky md:top-[2rem] md:flow mdd:border mdd:border-solid mdd:border-black"
				:class="{ 'mdd:hidden': !show }"
			>
				{% for item in navDocs %}
					{% set isCurrent = true if page.url == item.url else false %}
					<li class="flex flex-col mdd:border-0 mdd:border-b mdd:border-solid border-mdd:[#ddd] mdd:last:border-0 md:mb-[16px]">
						<a
							class="no-underline mdd:w-full mdd:px-[16px] mdd:py-[8px]"
							href="{{ item.url }}{% if isCurrent %}#top{% endif %}"
							{% if isCurrent %}aria-current="page"{% endif %}
						>
							{{ item.title }}
							{% if isCurrent %}
								<span class="sr-only">(current)</span>
								<span aria-hidden="true" class="md:hidden opacity-50 text-[.75em]">&#8592;</span>
							{% endif %}
						</a>
						{% if item.subitems %}
							<ul role="list" class="md:pl-[16px] mdd:pb-[4px]">
								{% for item in item.subitems %}
									<li class="flex">
										<a class="no-underline mdd:w-full mdd:py-[4px] mdd:pr-[16px] mdd:pl-[32px]" href="{{ item.url }}">{{ item.title }}</a>
									</li>
								{% endfor %}
							</ul>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		</nav>

		<div class="grow basis-0 min-w-0 flow">
			{{ content | safe }}
		</div>
	</div>
</article>
