<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="preload" as="font" href="/fonts/work-sans-subset.woff2" type="font/woff2" crossorigin>
	<link rel="stylesheet" href="/assets/css/main.scss">
	<script type="module" src="/assets/js/main.js"></script>

	{% include 'meta.njk' %}
</head>
<body>
	<a href="#main" class="b-skipLink">Skip to main content</a>

	{% include 'header.njk' %}

	{{ content | safe }}

	{% include 'footer.njk' %}
</body>
</html>
